{% extends '../base.html' %}

{% block title %} - Home{% endblock %}
{% block content %}

    <main class="container mt-5">
      <section class="mb-5" id="introduction">
        <h2>Welcome to Missing Persons from Newfoundland and Labrador</h2>

        <p class="mt-3">
          Our platform is dedicated to raising awareness about individuals who
          have gone missing in Newfoundland and Labrador. We aim to provide
          timely updates, resources, and support to affected families and
          communities.
        </p>
      </section>

      <section class="mb-5" id="latest-updates">
        <h2>Latest Updates</h2>

        <ul class="list-group mt-3">
          <!-- Example entries (instead of this we need to figure out how to use real data) -->
          <li class="list-group-item">
            John Doe - Last seen on Jan 1, 2023 in St. John\'s.
          </li>

          <li class="list-group-item">
            Jane Smith - Last seen on Feb 10, 2023 in Corner Brook.
          </li>
          <!-- ... -->
        </ul>
      </section>

      <section class="mb-5" id="get-involved">
        <h2>Get Involved</h2>

        <p class="mt-3">
          Want to help? Consider volunteering or donating to our cause. Every
          bit helps in the search and support of missing individuals and their
          families.
        </p>
      </section>
    </main>

    {% endblock %}
